<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        html,
        body {
            height: 100%;
            background-color: #13254b;
        }

        body {
            margin: 0;
            font-family: Helvetica, Arial, Verdana, Trebuchet MS;
        }

        a {
            text-decoration: underline;
            color: inherit;
        }

        p {
            line-height: 25px;
            font-size: 15px;
        }

        .Banner {
            border-top: 1px solid #ffffff;
        }

        .Banner-header {
            color: #ffffff;
            font-size: 15px;
            padding: 10px 0;
        }

        .Banner-image {
            max-width: 100%;
        }

        .Table {
            max-width: 750px;
        }

        .Footer,
        .Header {
            background-color: #13254b;
        }

        .Footer {
            padding: 15px 0;
            height: 100%;
            color: #ffffff;
        }

        .Footer-section {
            padding: 10px 0;
        }

        .Footer-section--secondary {
            border-top: 1px solid #ffffff;
            color: #9a9b9c;
        }

        .Footer-section--secondary a {
            text-decoration: none;
        }

        .Body {
            background-color: #023b5d;
            padding: 15px 0 60px 0;
            color: #ffffff;
        }

        .Headline {
            font-weight: bold;
            padding: 45px 0 10px 0;
        }

        .SiteName {
            color: #ffffff;
            font-size: 20px;
            text-align: left;
            width: 95%;
            font-weight: bold;
        }

        .SiteName a {
            text-decoration: none;
        }

        .Footer-link {
            text-align: center;
        }

        .Button {
            font-family: Helvetica, Arial, sans-serif;
            color: #023b5d;
            font-weight: bold;
            text-decoration: none;
            padding: 12px 18px;
            border: 1px solid #06effe;
            display: inline-block;
        }

        .Expander {
            height: 100%;
            background-color: #023b5d;
        }
    </style>
<body>
<table class="Main" cellspacing="0" cellpadding="10" border="0" width="100%" height="100%">
    <tr>
        <td class="Header" align="center">
            <table class="Table" cellspacing="0" cellpadding="0" border="0" width="90%">
                <tr>
                    <td>
                        <a href="{{ url('home') }}">
                            <img src="{{ urlPackage.getUrl('letter-logo.png') }}" alt="{{ locale.domain|upper }}">
                        </a>
                    </td>
                    <td class="SiteName">
                        <a href="{{ url('home') }}">{{ locale.domain|upper }}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Body" align="center">
            <table class="Table" cellspacing="0" cellpadding="0" border="0" width="90%">
                <tr>
                    <td class="Headline">
                        COMMENT ADDED
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            User <strong>{{ comment.user.name }}</strong> commented
                            <a href="{{ url('game.play', {'gameSlug': comment.game.slug }) }}">{{ comment.game.name }}</a>
                            with "{{ comment.body }}" on {{ comment.createdAt }}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Expander"></td>
    </tr>
</table>
</body>
</html>