{% extends '@app/default.html.twig' %}

{% block title %}{{ game.name }} - {{ locale.domain|capitalize }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ game.description(locale.language) }}">
    {% include '@app/components/social/opengraph.html.twig' with
    {
    'title': game.name,
    'url': url('game.play', {'gameSlug': game.slug}),
    'image': game.thumbnail,
    'description': game.description(locale.language),
    'siteName': 'Games'
    } %}
{% endblock %}

{% block main %}
    {% include '@app/components/play.html.twig' %}
{% endblock %}
{% block content %}
    <div class="SiteSection-content">
        <div class="Grid small-Grid--full">
            <div class="Grid-cell">
                <div id="comments" class="Block">
                    <div class="Block-header">
                        <h2 class="Block-title">{{ translator.translate('comments') }}</h2>
                    </div>
                    <div v-cloak class="Block-content fading">
                        <comments :user="user" :translations="{{ translations|json_encode }}"></comments>
                    </div>
                </div>
            </div>
            <div class="Grid-cell">
                <div class="Grid Grid--full">
                    <div class="Grid-cell">
                        <div class="Block">
                            <div class="Block-header">
                                <h2 class="Block-title">{{ translator.translate('games.similar') }}</h2>
                            </div>
                            <div class="Block-content">
                                <div class="Cardholder tiny-Cardholder--responsive">
                                    {% for game in topGames %}
                                        {% include "@app/components/card-game.html.twig" with {'game': game} %}
                                        {% include "@app/components/game-meta.html.twig" with {'game': game} %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid-cell">
                        <div class="Block">
                            <div class="Block-header">
                                <h2 class="Block-title">{{ translator.translate('games.last.played') }}</h2>
                            </div>
                            <div class="Block-content">
                                <div class="Cardholder tiny-Cardholder--responsive">
                                    {% for game in playedGames %}
                                        {% if game %}
                                            {% include "@app/components/card-game.html.twig" with {'game': game} %}
                                            {% include "@app/components/game-meta.html.twig" with {'game': game} %}
                                        {% else %}
                                            {% include "@app/components/card-game-empty.html.twig" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="SiteSection-content">
        <div class="Grid small-Grid--full medium-Grid--1of2 large-Grid--full">
            {% for tag in game.tags if tag.enabled and tag.findGamesByTypes(supportedGameTypes)|length > 0 %}
                <div class="Grid-cell">
                    <div class="Block">
                        <div class="Block-header">
                            <h2 class="Block-title">{{ tag.name(locale.language) }}</h2>
                            <a class="Block-link" href="{{ url('tag', {'tagSlug': tag.slug(locale.language)}) }}">
                                {{- translator.translate('view.more') -}}
                                &nbsp;
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="Block-content">
                            <div class="Cardholder tiny-Cardholder--responsive">
                                {% for game in tag.findGamesByTypes(supportedGameTypes).slice(0, 6) %}
                                    {% include "@app/components/card-game.html.twig" with {'game': game} %}
                                    {% include "@app/components/game-meta.html.twig" with {'game': game} %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}